body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
}
.naglowek{
  max-width: 100%;
  min-height: 850px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../galeria/tlo.jpg");
  perspective: 2px;
  text-align: center;
}
.header{
  padding-top:20%;
}
.header-span{
  font-size: 70px;
  color: white;
}
